
.subcategoria-cursos{
  margin-bottom: 2rem;
}

.subcategoria-titulo{
  font-family: "Cormorant Garamond";
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: .5rem;
}

.lista-cursos {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  gap: .5rem;
}

.curso {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--bgNeutral);

}

.curso:nth-child(odd){
  background-color: var(--Fondo);

}

.curso-content{
  position: relative;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1;
  height: 100%;
}

.curso-institucion{
  margin-top: 4px;
  font-size: .9rem;
  color: var(--borderOpacityHard);
}

.certificado-link {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: inline-flex;
  align-items: center;
  align-self: flex-end;
  gap: 0.5rem;
  font-size: .9rem;
  font-weight: 400;
  padding: 2px;
  text-decoration: none;
  color: var(--textColor);
  text-wrap: nowrap;
}

.certificado-link:visited{
  color: var(--aVisited);
}

.certificado-link:hover, .certificado-link:focus {
  color: var(--borderOpacityHard);
}

@media (max-width: 756px) {
  /* .curso{
    padding-right: 0;
  } */

  .fa-file-pdf{
    display: none;
  }
  .subcategoria-titulo{
    font-size: 1.4rem;
  }
}

