
.subcategoria-titulo{
  font-family: "Cormorant Garamond";
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 1rem;
}

.lista-cursos {
  list-style: none;
  padding: 0;
  border-radius: 6px;
  margin: .5rem 0 1rem;
  overflow: hidden;
  gap: .5rem;
}

.curso {
  display: flex;
  height: 100%;
  padding-bottom: .25rem;
  padding-right: .25rem;
  background-color: var(--bgArticle);
  transition: background-color .07s ease, color .07s ease;
  box-sizing: border-box;
  border-radius: 6px;
}

.curso:last-child{
  border-bottom-right-radius: 6px;
}

.curso-content{
  position: relative;
  border: 1px solid var(--borderOpacityHard);
  padding: 1rem;
  border-radius: 6px;
  font-size: 1rem;
  background-color: var(--Fondo);
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  flex: 1;
  height: 100%;
  transition: background-color .07s ease, color .07s ease;
}

.curso-titulo{
  font-weight: 500;
}


.curso-institucion{
  margin-top: 4px;
  color: var(--iconLight);
}

.certificado-link {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: inline-flex;
  align-items: center;
  align-self: flex-end;
  gap: 0.5rem;
  font-size: .95rem;
  font-weight: 400;
  padding: 2px;
  text-decoration: none;
  color: var(--textColor);
  text-wrap: nowrap;
}

.certificado-link:visited{
  color: var(--aVisited);
}

.certificado-link:hover, .certificado-link:focus {
  color: var(--borderOpacityHard);
}

@media (max-width: 756px) {
  /* .curso{
    padding-right: 0;
  } */

  .fa-file-pdf{
    display: none;
  }
  .subcategoria-titulo{
    font-size: 1.4rem;
  }
}