
/* Mobile First*/

.subcategoria-titulo{
  font-family: "Cormorant Garamond";
  font-size: 1.5rem;
  font-weight: 700;
}

.lista-cursos {
  list-style: none;
  padding: 0;
  background-color: var(--bgArticle);
  border-radius: 6px;
  margin: .5rem 0 1rem;
}

.curso {
  border: 1px solid var(--borderOpacityHard);
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: .5rem;
  background-color: var(--Fondo);
  color: var(--textColor);
  transition: background-color .07s ease, color .07s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  gap: .5rem;
}

.curso-titulo{
  font-size: 1.05rem;
  font-weight: 500;
}

.curso-institucion{
  color: var(--iconLight);
}

.certificado-link {
  display: inline-flex;
  align-items: center;
  align-self: flex-end;
  gap: 0.5rem;
  font-weight: 400;
  padding: 2px;
  text-decoration: none;
  color: var(--textColor);
  text-wrap: nowrap;
}

.certificado-link:visited{
  color: var(--aVisited);
}

.certificado-link:hover, .certificado-link:focus {
  color: var(--borderOpacityHard);
}

@media (max-width: 756px) {
  .certificado-link{
    font-size: .95rem;
  }
  .fa-file-pdf{
    display: none;
  }
  .subcategoria-titulo{
    font-size: 1.4rem;
  }
}