
.course-section {
  width: 100%;
  height: auto;
  margin-bottom: 5rem;
}

.course-section h2 {
  margin-bottom: 1rem;
}

.lista-container{
  padding-bottom: .5rem;
  padding-right: .375rem;
  background-color: var(--bgArticle);
  transition: background-color .07s ease, color .07s ease;
  box-sizing: border-box;
  border-radius: 6px;

}

.lista-cursos{
  border: 1px solid var(--borderOpacity);
  background-color: var(--Fondo);
  border-radius: 6px;
}

@media (max-width: 640px){
  .course-section{
    margin-bottom: 4rem;
  }
  .lista-cursos{
    grid-template-columns: 1fr;
  }
}