footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 100%;
    height: 85px;
    border-top: 1px solid var(--borderOpacity);
}

.social-iconos-on-desktop{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 30px;
    position: relative;
    list-style-type: none;
}

.social-iconos-on-desktop li{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.social-iconos-on-desktop a, .social-iconos-on-desktop span{
    border-radius: 50%;
    width: 36px;
    min-width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgNeutral);
    border: 1px solid var(--borderNeutral);
    color: var(--iconLight);
    position: relative;
    transition: background-color .07s ease, color .07s ease, box-shadow .07s ease;
}

.social-iconos-on-desktop i{
    position: absolute;
    margin: auto;
    opacity: .9;
}

.social-iconos-on-desktop a:hover, .social-iconos-on-desktop span:hover{
    background-color: rgba(128, 128, 128, 0.25);
    /* box-shadow: 0px 0px 3px 1px rgba(167, 139, 250, 1); */
}

.social-iconos-on-desktop p{
    background: var(--bgColor);
    color: var(--textColor);
    position: absolute;
    top: -40px;
    padding: 7px;
    border-radius: 4px;
    transition: opacity .07s ease;
    font-size: 1rem;
    font-weight: 400;
    text-wrap: nowrap;
    font-size: 0.9rem;
}