
.formacionAcademica {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: center;
    box-sizing: border-box;
    width: fit-content;
    background-color: var(--bgNeutral);
    color: var(--textColor);
    padding: 36px 48px;
    border-radius: 6px;
    border: 2px solid var(--borderNeutral);
    transition: background-color .07s ease, color .07s ease;
}

.formacionAcademica h2{
    align-self: center;
    text-align: center;
}

.academias-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    gap: .5rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.academias-list a{
    padding: 2px;
    color: var(--textColor);
    text-underline-offset: 2px;
    transition: background-color .07s ease, color .07s ease;
}

.academias-list a:visited{
    color: var(--aVisited);
}

.academias-list a:hover, .academias-list a:focus{
    color: var(--bgColor);
    background-color: var(--textColor);
}

.cursos-list{
    margin: .5rem 0;
    display: flex;
    flex-direction: column;
    list-style-type: disc;
}

.cursos-list span{
    font-size: .95rem;
}

.cursos-list small{
    display: block;
    margin-left: 0.75rem;
    font-size: .85rem;
}

@media (max-width: 768px){
    .formacionAcademica{
        padding: 2rem;
        margin-top: 0;
    }

    .academias-list{
        padding-left: .5rem;
    }

    .cursos-list span{
    }

    .cursos-list small{

    }
}