#lineaDeTiempo section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    border: 2px solid var(--textColor);
    padding: 4px 8px 6px;
    border-radius: 3px;
    gap: 2px;
    width: 100%;
    box-shadow: 0 0 5px 3px rgb(0, 0, 0, .2);
    position: relative;
    /* background-color: #272b33; */
    /* border-color: #7a828e; */
    /* #272b33
    #0a0c10
    #272b33 
    #525964*/
    /* --color-project-header-bg: #0d1117;
    --color-project-sidebar-bg: #161b22; */
}

#lineaDeTiempo section:first-child{
    min-height: 110px;
    justify-content: space-between;
}

/* #lineaDeTiempo section:last-child{
    grid-column: 2/3;
} */

.tituloCard{
    width: 100%;
    gap: 6px;
    position: relative;
}

.tituloCard span h4{
    display: inline-block;
}

.tituloMargin::first-letter{
    margin-left: 20px;
}

.enCurso{
    width: 9px;
    height: 9px;
    /* background-color: #e09b13; */
    background-color: rgb(255, 195, 0);
    position: absolute;
    top: 5px;
    left: 2px;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgb(255, 195, 0);
}

.tituloCard h5{
    background-color: var(--textColor);
    color: var(--bgColor);
    position: absolute;
    padding: 0 3px;
    border-radius: 1px;
    top: -15px;
    opacity: 0;
    transition: opacity .3s ease;
}

#lineaDeTiempo section h4{
    font-weight: 500;
}

.fecha{
    padding: 2px;
}

.linksDiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    gap: 4px;
    position: relative;
    flex-wrap: wrap;
}

.linksDiv a{
    color: black;
    background-color: rgb(237, 123, 16);
    padding: 0px 4px 1px;
    border-radius: 2px;
    font-size: 1rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 4px;
}

.linksDiv span{
    padding-top: 2px;
}

.practicaDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 220px;
    width: 285px;
    background-color: rgb(246 248 253);
    color: rgb(27, 27, 27);
    position: absolute;
    top: -225px;
    box-shadow: 0 0 5px 3px rgb(0, 0, 0, .2);
    border-radius: 7px;
    overflow: hidden;
    z-index: 2;
}

.practicaDiv img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    object-fit: cover;
    object-position: top;
}

.practicaDiv p{
    position: absolute;
    top: 75%;
    width: 100%;
    height: 25%;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    align-content: flex-end;
}

@media (max-width: 768px){
    
    .linksDiv a{
        font-size: .9rem;
    }

    .mobileDiv{
        right: 0px;
    }
}

@media (max-width: 355px) {

    /* #lineaDeTiempo section h3{
        text-align: center;
    } */
}