.lineaDeTiempo-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid var(--borderOpacity);
    /* box-shadow: 0px 0px 10px 0px var(--textColor); */
    padding: 12px;
    border-radius: 6px;
    gap: 9px;
    width: 100%;
    position: relative;
    height: 100%;
}

.lineaDeTiempo-section:focus {
    outline: 2px solid var(--lightBlue);
    outline-offset: 2px;
}

.enCurso{
    width: 9px;
    height: 9px;
    background-color: var(--lightBlue);
    position: absolute;
    top: 10px;
    left: 0px;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px var(--badgeBorderBlue);
}

.enCursoMsj{
    background-color: var(--textColor);
    color: var(--bgColor);
    position: absolute;
    padding: 0 3px;
    border-radius: 1px;
    top: -15px;
    opacity: 0;
    transition: opacity .3s ease;
    font-weight: 700;
    font-size: .9rem;
}

#lineaDeTiempo section:first-child{
    min-height: 110px;
    justify-content: space-between;
}

.tituloCard{
    width: 100%;
    gap: 6px;
    position: relative;
}

.tituloCard span{
    font-size: 1.1rem;
    font-weight: 500;
}

.tituloCard span h4{
    display: inline-block;
}

.tituloMargin::first-letter{
    margin-left: 18px;
}


#lineaDeTiempo section h4{
    font-weight: 400;
}

.fecha{
    font-weight: 400;
    font-size: 1rem;
    padding: 2px;
    margin-left: auto;
    margin-bottom: 8px;
}

.linksDiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    gap: 7px;
    flex-wrap: wrap;
    min-height: 1.6rem;
}

.anclaContainer{
    position: relative;
}

.linksDiv a{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
    border-radius: .375rem;
    /* background-color: #f5f5f5;
    color: var(--textColor);
    border: 1px inset rgba(0, 0, 0, 0.2); */
}


.badge-green {
    color: var(--badgeGreenColor);
    background-color: rgba(51, 153, 51, 0.1);
    border: 2px inset rgba(51, 153, 51, 0.3);
}

.badge-yellow {
    color: var(--badgeYellowColor);
    background-color: rgba(247, 223, 30, 0.2);
    border: 2px inset rgba(247, 223, 30, 0.4);
}

.badge-blue {
    color: var(--badgeBlueColor);
    background-color: rgba(21, 114, 182, 0.1);
    border: 2px inset var(--badgeBorderBlue);
}

.badge-red {
    color: var(--badgeYellowColor);
    background-color: rgba(247, 223, 30, 0.2);
    border: 2px inset rgba(247, 223, 30, 0.4);
}
  
.linksDiv h4{
    font-weight: 400;
}

.linksDiv span{
    transition: transform .2s ease;
}

.anclaContainer a:hover span {
    transform: translateX(4px);
}

.practicaDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 220px;
    width: 285px;
    background-color: rgb(246 248 253);
    color: rgb(27, 27, 27);
    position: absolute;
    top: -225px;
    box-shadow: 0 0 5px 3px rgb(0, 0, 0, .2);
    border-radius: 6px;
    overflow: hidden;
    z-index: 2;
    opacity: 0;
    transition: opacity .2s ease-out;
}

.practicaDiv img{
    position: absolute;
    background: linear-gradient(135deg, #1a1a1a, #2e2e2e, #3c3c3c);
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    object-fit: cover;
    object-position: top;
}

.practicaDiv p{
    position: absolute;
    top: 75%;
    width: 100%;
    height: 25%;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    align-content: flex-end;
}
.badge-bw a{
    background-color: transparent;
    color: var(--badgeBlueColor);
}

.hidden{
    display: none;
}

@media (max-width: 899px){

    .practicaDiv{
        display: none;
    }    
}

@media (max-width: 768px){
    
    .lineaDeTiempo-section{
        padding: 10px;
    }

    .mobileDiv{
        right: 0px;
    }

    .tituloCard span{
        font-size: 1rem;
    }
}

