.mobile-menu{
    display: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 100%;
    height: 85px;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid var(--borderOpacity);
    backdrop-filter: blur(10px);
    /* background-color: var(--Fondo);*/
    /* transition: background-color .07s ease, color .07s ease; */
}

.header-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--Fondo);
    opacity: 0.8;
    z-index: -1;
    transition: background-color .07s ease, color .07s ease;
}

.desktop-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 2rem;
}

.desktop-nav nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    gap: .75rem;
}

.expanded-icon{
    font-size: .8rem;
}

.submenu{
    position: relative;
}

.submenu-anexo[aria-hidden="true"] {
    display: none;
}

.submenu-anexo[aria-hidden='false']{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    position: absolute;
    top: 50px;
    padding: .75rem .875rem;
    border: 1px solid var(--borderOpacity);
    border-radius: 8px;
    background-color: var(--Fondo);
}

.desktop-nav a, .submenu-btn{
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: var(--textColor);
    font-size: 1.1rem;
    font-weight: 400;
    padding: .675rem .875rem;
    position: relative;
    z-index: 1;
    text-wrap: nowrap;
    cursor: pointer;
}

.submenu-anexo li{
    width: 100%;
}

.submenu-anexo a{
    display: flex;
    box-sizing: border-box;
    padding: .375rem .8rem;
    padding-right: calc(.675rem + 3px);
}

.desktop-nav a:hover,
.desktop-nav a:focus, .submenu-btn:hover, .submenu-btn:focus {
    color: var(--borderOpacityHard);
    transition: color .07s ease;
}

.desktop-nav a[aria-current='page']{
    border-bottom: 2px solid var(--borderOpacity);
    border-radius: 4px;
}

.submenu-anexo a {
    border-left: 3px solid transparent;
}

.submenu-anexo a[aria-current='page'] {
    border-bottom: none;
    border-left-color: var(--borderOpacity);
}

.desktop-toggle{
    position: absolute;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 50%;
    width: 36px;
    min-width: 36px;
    height: 36px;
    background-color: var(--bgNeutral);
    border: 1px solid rgba(128, 128, 128, 0.15);
    user-select: none;
    transition: background-color .07s ease, color .07s ease, box-shadow .07s ease;
}

.lucide-sun, .lucide-moon, .fa-moon{
    color:var(--iconLight);
}

.desktop-toggle:hover{
    background-color: rgba(128, 128, 128, 0.25);
    /* box-shadow: 0px 0px 3px 1px rgba(167, 139, 250, 1); */
}

@media (max-width: 1024px){    
    .desktop-nav {
        display: none;
    }

    header{
        height: 70px;
        padding: 0 1rem;
        justify-content: flex-end;
        backdrop-filter: none;
    }

    .header-background{
        background-color: var(--Fondo);
        opacity: 1;
        z-index: -1;
        transition: background-color .07s ease, color .07s ease;
    }

    .pages-nav {
        display: flex;
    }

    .mobile-menu {
        display: flex;
    }

    .open-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 45px;
        height: 45px;
        background: transparent;
        border: none;
        gap: .75rem;
        transform: scale(1.3);
        color: var(--textColor);
    }

    .open-menu[aria-expanded='true']{
        transform: scale(1.5);
    }

    .header-background{
        opacity: 1;
    }

    .mobile-menu-content {
        position: fixed;
        top: 69px;
        right: 0;
        bottom: 0;
        left: 0;
        height: calc(100vh - 69px);
        background-color: var(--Fondo);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transform: translateX(-100%);
        pointer-events: none;
        transition: transform 0.4s ease, background-color 0.07s ease, color 0.07s ease;
        z-index: 10;
        overflow-y: auto;
    }

    .mobile-menu-content.open {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }

    .mobile-menu-content .onScroll {
        position: relative;
        padding: 2rem;
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        width: 90%;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .onScroll::-webkit-scrollbar {
        display: none;
    }

    .fadetop{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 25px;
        background: linear-gradient(to bottom, var(--Fondo), rgba(255, 255, 255, 0));
        pointer-events: none;
        z-index: 1;
    }

    .navUl {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;
        padding: 0;
        margin: 0;
    }

    .navUl a {
        color: var(--textColor);
        text-decoration: none;
        padding: 0.5rem 1rem;
        font-size: 1.9rem;
    }

    .mobile-toggle {
        color: var(--textColor);
        background-color: transparent;
        padding: 0.5rem 1rem;
        font-size: 1.9rem;
        border: none;
    }

    .social-iconos{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
        position: relative;
        list-style-type: none;
        width: 100%;
        gap: 4rem;
        margin: 2rem;
        padding-left: 1rem;
    }

    .social-iconos li{
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .social-iconos a, .social-iconos span{
        background-color: transparent;
        width: 50px;
        height: 50px;
        border-radius: 12px;
        padding: 4px;
        border: 2px solid var(--iconLight);
        box-shadow: 0 5px 7px -5px var(--iconLight);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--iconLight);
        position: relative;
        transition: background-color .07s ease, color .07s ease, box-shadow .07s ease;
    }

    .social-iconos a:active, .social-iconos span:active{
        border: 1px solid var(--iconLight);
    }

    .social-iconos i{
        position: absolute;
        margin: auto;
        scale: 1.15;
    }

    .social-iconos p{
        font-size: 16px;
    }
}

@media (max-width: 768px) {

    header{
        height: 60px;
    }

    .open-menu {
        scale: .9;
    }

    .mobile-menu-content{
        top: 59px;
        height: calc(100vh - 59px);
    }

    .mobile-menu-content .onScroll {
        padding: 2rem 1rem;
        gap: 1.5rem;
    }

    .navUl {
        gap: 1.5rem;
    }

    .navUl a, .mobile-toggle{
        font-size: 1.5rem;
    }

    .social-iconos{
        padding-left: 1rem;
        margin: 0;
        gap: 2rem;
    }

    .social-iconos a, .social-iconos span{
        width: 40px;
        height: 40px;
        padding-bottom: 4px;
    }

    .social-iconos i{
        scale: .95;
    }

    .social-iconos p{
        font-size: 12px;
    }
}