
main{
    padding: 1.5rem;
}

.max-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    gap: 180px;
}

.max-content:last-child{
    margin-bottom: 1.5rem;
}


/************************* MARCA PERSONAL *************************/

.divPresentacion{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    min-height: calc(85vh - 85px);
    position: relative;
    margin-bottom: 4rem;
}

.divMarcaPersonal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: transparent;
    color: var(--textColor);
}

.divMarcaPersonal span{
    font-family: "Cormorant Garamond";
    font-size: 2.3rem;
    font-weight: 600;
    text-wrap: pretty;
}

.divMarcaPersonal mark{
    background: var(--blueGradient);
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
}

.sobre-mi{
    text-wrap: pretty;
    margin-top: 1.4rem;
    text-align: center;
    color: var(--textColor);
    font-size: 1rem;
    line-height: 1.5;
    max-width: 997px;
}

.mobile{
    display: none;
}

/************************* EXPERIENCIA *************************/

.cardExperiencia {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding: 1.5rem;
    gap: 1rem;    
    background-color: var(--bgNeutral);
    border: 1px solid var(--borderNeutral);
    transition: background-color .07s ease, color .07s ease;
}

.cardExperienciaContent {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
}

.cardExperienciaContent img{
    width: 120px;
    height: auto;
}

.cardExperienciaContent img:hover{
    padding-bottom: 4px;
    border-bottom: 2px solid var(--lightBlue);
}

.cardExperienciaTextContent p {
    margin: 0.5rem 0;
}

.tech-tools img {
    height: 24px;
    margin-right: 0.5rem;
}

.experienciaLinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.experienciaLinks a{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
    border-radius: .375rem;
    color: var(--badgeBlueColor);
    transition: color .07s ease;
}

.experienciaLinks a:hover{
    color: var(--textColorB);
}

/************************* PROYECTOS *************************/

.proyectos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    gap: 8px;
}

.proyectoPubliContainer{
    width: 100%;
    display: grid;
    box-sizing: border-box;
    align-items: flex-end;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    gap: 32px;
}

.cardProyecto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    gap: 16px;
    height: 100%;
}

.cardProyectoContent{
    width: 100%;
    height: 100%;
    color: var(--textColor);
    display: flex;
    align-items: start;
    justify-content: center;
    box-sizing: border-box;
    gap: 16px;
    padding: 10px;
    background: var(--gradientB);
    box-shadow: 0 0 12px 3px var(--shadowColor);
}

.cardProyectoContent picture{
    margin: 0;
    width: 150px;
    height: 150px;
    background: linear-gradient(135deg, #1a1a1a, #2e2e2e, #3c3c3c);
    border-radius: 6px;
    aspect-ratio: 1/1;
}

.cardProyectoContent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 6px;
}

.cardProyectoTextContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 8px;
}

.cardProyectoTextContent p{
    text-wrap: pretty;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--textColor);
}

.tech-tools{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 4px 8px 4px 0;
    gap: 12px;
    flex-wrap: wrap;
}

.tech-tools img{
    width: 24px;
    height: 24px;
}

.next{
    width: 24px;
    height: 24px;
    background-color: #f5f5f5;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #f5f5f5;
}

.cardLinksDiv{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    gap: 7px;
    flex-wrap: wrap;
    min-height: 1.6rem;
    font-weight: 500;
}

.cardLinksDiv a{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
    border-radius: .375rem;
    position: relative;
    color: var(--badgeBlueColor);
    transition: color .07s ease;
}

.cardLinksDiv a:hover{
    color: var(--textColorB);
}

/************************* CRONOLOGIA *************************/

.cronologia{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    gap: 8px;
}

#lineaDeTiempo{
    width: 100%;
    display: grid;
    box-sizing: border-box;
    align-items: flex-end;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 16px;
}

/************************ Habilidades ****************************/

.habilidades{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 8px;
}

.habilidades ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0;
}

.habilidades ul li{
    background: var(--bgNeutral);
    border: var(--borderOpacity);
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 0.9rem;
    color: var(--textColor);
}


@media (max-width: 1024px){

    .max-content:last-child{
        margin-bottom: 3rem;
    }

    .tabla-contenidos{
        position: relative;
        left: 0;
    }

    .divPresentacion{
        min-height: 55vh;
    }

    .divMarcaPersonal{
        z-index: 1;
        padding-bottom: 0;
        text-align: start;
        align-items: flex-start;
    }

    .divMarcaPersonal span{
        margin-top: 0px;
        font-size: 2.2rem;
        line-height: 2.8rem;
        margin-left: .05em;
    }
    
    .divMarcaPersonal mark{
        line-height: 3.4rem;
    }

    .sobre-mi{
        text-align: start;
    }

    .cardProyectoContent picture{
        width: 100px;
        height: 100px;
    }

    .cardProyectoContent img{
        width: 100px;
        height: 100px;
    }

    .tech-tools img,
    .tech-tools .next {
      width: 20px;
      height: 20px;
    }

    .habilidades ul{
        justify-content: center;
    }
}

@media (max-width: 768px) {
    main{
        padding: 1rem;
    }

    .max-content{
        gap: 90px;
    }

    .divPresentacion{
        min-height: 0;
    }
    
    .sobre-mi{
        font-size: .95rem;
        margin-top: 1rem;
    }

    .cardProyectoContent{
        max-width: 600px;
    }

    .proyectoPubliContainer{
        grid-template-columns: 1fr;
    }

    .tech-tools{
        justify-content: flex-start;
    }

    .cronologia{
        margin-bottom: 4px;
    }

    #lineaDeTiempo{
        gap: 16px;
        column-gap: 8px;
        grid-template-columns: 1fr;
    }

    .first-home-pager-link{
        grid-column-start: 1;
    }
}

@media (max-width: 355px) {

    #lineaDeTiempo{
        grid-template-columns: 1fr;
    }
}