body{
    font-family:sans-serif;
    --bgColor: rgb(18, 18, 18);
    --textColor: rgb(243, 245, 250);
    --lightBlue: #5faaa7;
    --orange: #fc4628;
    --orangeLight: #FF8C42;
    --yellow: #ffdd1c;
    --blue: #066781;
    --grey: #383134;
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100vw;
    margin: 0;
    user-select: none;
    background-color: var(--bgColor);
    transition: background-color .3s ease, color .3s ease;
}

.dark{ 
    --bgColor: rgb(18, 18, 18); 
    --textColor: rgb(243, 245, 250);
}

.light{ 
    --bgColor: rgb(243, 245, 250); 
    --textColor: rgb(18, 18, 18);
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

h1{
    font-size: 42px;
}

h2{
    font-size: 26px;
}

header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 1.8rem;
    border-bottom: 2px solid var(--textColor);
    background-color: var(--bgColor);
    transition: background-color .3s ease, color .3s ease;
}

header a{
    text-decoration: none;
    color: var(--textColor);
}


/************************* MAIN *************************/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
    gap: 64px;
}

.divPresentacion{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    padding-top: 2rem;
    position: relative;
}

.divMarcaPersonal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
}

.divMarcaPersonal p{
    text-wrap: pretty;
}

.divPresentacion img{
    clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
}


/************************* CRONOLOGIA *************************/

.cronologia{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    gap: 8px;
    padding: 16px;
    max-width: 1024px;
    margin-bottom: 16px;
}

#lineaDeTiempo{
    width: 100%;
    display: grid;
    box-sizing: border-box;
    align-items: flex-end;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    gap: 16px;
    margin-top: 12px;
}

.resaltadores{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    margin-top: 4px;
    gap: 6px;
}

.resaltadoresDiv{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    gap: 4px;
}

.resaltadores span{
    width: 15px;
    height: 15px;
    background-color: var(--orangeLight);
}

#amarillo{
    background-color: var(--yellow);
}

#azul-typescript{
    background-color: var(--lightBlue);
}

/****************** Formacion Academica *************************/

.formacionAcademica{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    max-width: 1024px;
    padding: 16px;
    margin-bottom: 16px;
}

.formacionAcademica ul{
    list-style-type: square;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    gap: 10px;
}

.formacionAcademica ul li h4{
    font-weight: 400;
}

.formacionAcademica ul li p{
    margin: 0;
}


/************************ Footer ****************************/

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border-top: 2px solid var(--textColor);
}

.iconos{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 12px;
    position: relative;
}

.iconos a{
    color: var(--textColor);
    padding-top: 2px;
}

.iconos a:hover{
    color: var(--lightBlue);
}

.iconos span{
    color: var(--textColor);
    padding-top: 2px;
    cursor: pointer;
}

.iconos span:hover{
    color: var(--lightBlue);
}

.iconos h5{
    background-color: var(--textColor);
    color: var(--bgColor);
    position: absolute;
    padding: 1px 4px 2px;
    border-radius: 1px;
    top: -28px;
    left: -34px;
    opacity: 0;
    transition: opacity .3s ease;
}

.iconos h4{
    background-color: var(--textColor);
    color: var(--bgColor);
    position: absolute;
    padding: 1px 8px 4px;
    border-radius: 1px;
    top: -68px;
    transition: opacity .3s ease;
}

/************************ Queries **************************/

@media (max-width: 768px) {

    main{
        margin-bottom: 24px;
        gap: 32px;
    }
    
    .divMarcaPersonal{
        z-index: 1;
    }

    .divPresentacion{
        padding-bottom: 0;
    }

    .divPresentacion img{
        position: absolute;
        top: 0;
        right: 0px;
        opacity: .4;
        width: 100%;
        min-width: 300px;
        height: 100%;
        object-fit: cover;
        object-position: top;
        clip-path: none;
    }

    .cronologia{
        padding: 8px;
        margin-bottom: 4px;
    }

    .cronologia h2{
        padding-left: 8px;
    }

    #lineaDeTiempo{
        gap: 12px;
        column-gap: 8px;
    }

    .formacionAcademica ul{
        padding-left: 24px;
    }
    
    .iconos{
        gap: 16px;
    }
}

@media (max-width: 355px) {

    #lineaDeTiempo{
        grid-template-columns: 1fr;
    }
}