body{
  transition: background-color .07s ease, color .07s ease;
}

main{
    padding: 1.5rem;
}

.max-content-pages{
    max-width: 1280px;
    gap: 60px;
}

.max-content-pages:last-child{
    margin-bottom: 120px;
}

.presentacionesTituloDiv{
    min-height: calc(85vh - 85px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 4rem;
}

.presentacionesTituloDiv h1{
    font-size: 7.5rem;
    line-height: 8.8rem;
}

.sobre-mi{
    margin-top: .75rem;
    text-wrap: pretty;
    font-size: 1rem;
    color: var(--textColor);
    opacity: .9;
}

@media (max-width: 1024px) {
    .max-content-pages:last-child{
        margin-bottom: 3rem;
    }
    .presentacionesTituloDiv{
        min-height: 30vh;
    }
    .presentacionesTituloDiv h1{
        font-size: 5.5rem;
        line-height: 7.5rem;
    }
}

@media (max-width: 768px) {
    .presentacionesTituloDiv{
        min-height: 0;
        align-items: flex-start;
    }
    
    .presentacionesTituloDiv h1{
        font-size: 3rem;
        line-height: 3.75rem;
    }
    .sobre-mi{
        font-size: .95rem;
    }
}