main{
    align-items: flex-start;
    max-width: 1280px;
    gap: 40px;
    margin-bottom: 24px;
    padding: 1.5rem;
}

.presentacionesTituloDiv{
    min-height: calc(55vh - 85px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 3rem;
}

.presentacionesTituloDiv h1{
    margin-bottom: 1rem;
    font-size: 7.5rem;
    line-height: 8.8rem;
}

.presentacionesTituloDiv p{
    text-wrap: pretty;
    font-size: 1rem;
    opacity: .8;
}

@media (max-width: 1024px) {
    .presentacionesTituloDiv{
        min-height: 30vh;
    }
    .presentacionesTituloDiv h1{
        font-size: 5.5rem;
        line-height: 7.5rem;
    }
}

@media (max-width: 768px) {
    .presentacionesTituloDiv{
        min-height: 0;
        align-items: flex-start;
    }
    
    .presentacionesTituloDiv h1{
        font-size: 3rem;
        line-height: 3.75rem;
    }
    .presentacionesTituloDiv p{
        font-size: .9rem;
    }
}