.videoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.videoIframe, video{
    width: 100%;
    max-width: 977px;
    margin: auto;
    border-radius: 4px;
}