.vibeCodeList{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.vibeCodeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bgNeutral);
  padding: .5rem;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: background-color .07s ease, color .07s ease;
}

.vibeCodeItem img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  aspect-ratio: 16 / 9;
}

.vibeCodeInfo {
  text-align: center;
  padding: .5rem .75rem;
}

.vibeCodeInfo h2 {
  font-size: 1.4rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.vibeCodeMeta {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.vibeCodeInfo p {
  font-size: .9rem;
  margin-bottom: 1rem;
  text-wrap: pretty;
}

.vibeCodeBadges {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.badge {
  font-size: 0.8rem;
  background-color: var(--bgColor);
  color: var(--textColor);
  border: 1px solid var(--borderNeutral);
  padding: 0.3rem 0.6rem;
  border-radius: 9999px;
  font-family: 'Poppins', sans-serif;
  transition: background-color .07s ease, color .07s ease;
}

@media (min-width: 768px) {
  .vibeCodeInfo h2{
    font-size: 1.8rem;
    line-height: 2.25rem;
  }

}

@media (min-width: 1024px) {
  .vibeCodeItem {
    flex-direction: row;
    align-items: flex-start;
    max-width: 977px;
  }

  .vibeCodeItem a{
    width: 70%;
    height: 100%;
  }

  .vibeCodeInfo {
    flex: 1;
    text-align: left;
    padding: .5rem 1rem;
  }

  .vibeCodeInfo h2{
    margin-bottom: 1rem;
  }
}
