
#scrollToTopBtn{
    position: fixed;
    bottom: 32px;
    right: 26px;
    z-index: 1000;
    background-color: var(--bgNeutral);
    border: 1px solid var(--borderNeutral);
    color: var(--iconLight);
    border-radius: 50%;
    width: 36px;
    min-width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    display: none;
    transition: opacity .07s ease, background-color .07s ease, box-shadow .07s ease, bottom .07s ease;
}

#scrollToTopBtn:hover{
    background-color: rgba(128, 128, 128, 0.25);
    /* box-shadow: 0px 0px 3px 1px rgba(167, 139, 250, 1); */
}
